@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

:root {
    --yellow: #eac926;
    --blue: #03264c;
    --blue-light: #1259c3;
    --gray-dark: #666;
    --gray-light: #ebebeb;
    --green: #39b54a;
}

header {
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logoDiv img {
    padding: 1rem;
    width: 10rem;
    padding-top: 10px;
}

.logoDiv {
    width: 50%;

}

.listasDiv a {
    color: black;
    text-decoration: none;
}

.busquedaDiv {
    padding: 1rem;
    width: 50%;
    display: flex;
}

.inputBusqueda {
    height: 2.2rem;
    width: 80%;
    border: 0px;
    border-radius: 0.5rem 0 0 0.5rem;
    padding-left: 0.5rem;
    font-size: 10px;
}

.botonBusqueda {
    height: 2.2rem;
    border: 0px;
    border-radius: 0 0.5rem 0.5rem 0;
    padding-right: 0.5rem;
    background-color: white;
}

.textoDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listasDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    text-align: center;
    padding: 1em 0 1em;
}

.burger-menu i {
    border-radius: 5px;
    background-color: var(--blue-light);
    padding: 10px;
    color: var(--gray-light);
    font-size: 20px;
}


.lista {
    text-align: left;
    display: none;
    list-style: none;
    color: black;
}

.lista li {
    font-size: 12px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.compraEnCuotas {
    text-align: center;
    font-size: 12px;
}

.cajaFooter {
    margin: 20px;
}

.cajaFooter i {
    color: #1259c3;
    font-size: 24px;
}

.cajaCopy {
    margin-top: 20px;
}

.cuerpo-de-texto {
    text-align: center;
    color: #666;
    font-size: 16px;
}

.titularesFooter {
    font-size: 16px;
    color: #666;
}

main {
    background-color: var(--gray-light);
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datospersonales {
    width: 90%;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.datospersonales input {
    height: 2.1rem;
    margin: 7px;
    border: 0px;
    border-radius: 0.5rem;
    text-align: center;
}

.fecha {
    width: 90%;
}

.fechaitem {
    height: 2.1rem;
    margin: 7px;
    border: 0px;
    border-radius: 0.5rem;
    text-align: center;
    width: 95%;
}

.perfil {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.perfil p {
    width: 100%;
}

.item-perfil {
    margin: 15px;
}

.intereses {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intereses input {
    margin: 7px;
}

.item-intereses {
    margin: 5px;
    font-size: 15px;
}

.titulo {
    width: 100%;
    margin-top: 15px;
    font-weight: 900;
}

.imagen-de-perfil {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin: 5px;
    justify-content: center;
    width: 90%;
    font-size: 15px;

}

.imagen-de-perfil label {
    font-weight: 900;
    width: 80%;
    font-size: 14px;
}

.imagen-de-perfil input {
    font-size: 10px;
}


.botones {
    margin: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botones button {
    width: 5rem;
    background-color: #1259c3;
    color: white;
    font-weight: 900;
}


/* Solo para tablet*/

@media only screen and (min-width: 515px) {
    .burger-menu {
        display: none;
    }

    .descripciones {
        display: block;
    }

    article {
        box-shadow: 0px 0px 10px rgb (100, 100, 100);
    }

    .lista,
    .listasDiv {
        display: flex;
        flex-direction: row;
    }

    .logoDiv {
        width: 12rem;
    }

    .busquedaDiv {
        padding: 1rem;
        display: flex;
    }

    .textoDiv {
        display: flex;
    }


    .logoDiv,
    .busquedaDiv,
    .textoDiv {
        width: 33.3%;
        align-items: center;
        justify-content: center;
    }

    .listasDiv {
        height: 4.5rem;
        align-items: center;
        justify-content: space-between;
    }


    .inputBusqueda {
        font-size: 12px;
    }

    .datospersonales input {
        font-weight: 900;
    }

    .perfil {
        justify-content: space-evenly;
    }

    .imagen-de-perfil{ 
        width: auto;
    }

    .imagen-de-perfil label { 
        width: 100%;
    }

    .imagen-de-perfil input {
        font-size: 15px;
    }





}

/* Solo para escritorio*/

@media only screen and (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .descripciones {
        display: block;
    }

    article {
        box-shadow: 0px 0px 10px rgb (100, 100, 100);
    }

    .lista li {
        font-size: 14px;
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }

    .compraEnCuotas {
        font-size: 15px;
    }

    .logoDiv img {
        width: 20rem;
        padding: 0px;
    }

    .inputBusqueda {
        font-size: 18px;
    }

    .datospersonales {
        display: block;
    }

    .datospersonales input {
        height: 2.5rem;
        width: 60%;
    }

    .fechaitem {
        width: 60%;
    }

    .perfil {
        width: 90%;
        display: flex;
        flex-wrap: wrap
    }

    .item-perfil {
        margin: 15px;
    }

    .intereses {
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .item-intereses {
        margin: 15px;
        padding: 15px;
    }

    .botones {
        justify-content: center;
    }

    .botones button {
        margin: 20px;
    }

}